@import 'descriptions';

.topline {
  .transition(background-color);
  .transition(color);
  background-color: fade(@gray-50, 90);
  color: @white;
  position: fixed;
  top: 0;
  z-index: @z-index-fixed;
  width: 100%;
  padding-block: @offset12;

  @media @s-tablet {
    padding-block: @offset16;
  }

  &--white {
    color: @white;
    background-color: transparent;
  }

  &__logo {
    filter: drop-shadow(2px 2px 1px @black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: @offset12;
    max-height: @offset48;

    @media @large-than-default-desktop {
      height: @offset80;
    }


    @media @tablet {
    }

    a & {
      .opacity-hover();
    }
  }

  &__logo-container {
    display: flex;
    align-items: end;
  }

  &__logo-stick-one, &__logo-stick-two, &__logo-stick-three {
    display: inline-block;

    &:hover {
      scale: 1.1;
    }
  }

  &__logo-stick-one {
    color: @logo-gray-dark;
    animation: wake-up .8s linear forwards;
    margin-right: 8px;
  }

  &__logo-stick-two {
    color: @logo-gray-light;
    animation: wake-up .9s linear forwards;
    margin-right: 8px;
  }

  &__logo-stick-three {
    color: @logo-gray-white;
    animation: wake-up 1s linear forwards;

  }

  &__logo-sign {
    animation: bounceInLeft 1.8s;
    max-width: 120px;

    @media @large-than-default-desktop {
      max-width: 200px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__menu {
    filter: drop-shadow(1px 1px 1px @black);
    margin-left: auto;

    @media @s-tablet {
      display: none;
    }
  }

  &__mobile-menu-btn {
    border-block: 1px solid currentColor;
    width: 22px;
    height: 8px;
    margin-left: auto;
    display: none;

    @media @s-tablet {
      display: block;
    }
  }

  &__hidden {
    display: none;
  }
}
