@import "descriptions";

.header {
  padding-block: @offset136;
  color: @white;
  position: relative;

  &__content {
    filter: drop-shadow(2px 2px 1px @black);
  }

  &__text {
    max-width: 60%;
    font-size: 26px;
    line-height: 32px;

    @media @s-tablet {
      .base-text();
    }

    & + & {
      margin-top: @offset24
    }
  }
}
