@import "descriptions";

.header {
  padding-block: @offset120;
  color: @white;
  position: relative;

  &__content {
    text-shadow: 2px 2px 2px #000;
    padding-inline: 60px;
  }

  &__text {
    max-width: 60%;

    & + & {
      margin-top: @offset24
    }

  }


}
